release_builds/
node_modules/
dist/

coverage/

settings.json
reload.json
.DS_Store
app/compiled-templates/
compiled_templates/
test/e2e/artifacts/
app/data/history.sqlite
.husky/_/husky.sh
app/compiled-templates/toEntry.js
app/compiled-templates/singlewhois.js
app/compiled-templates/opEntry.js
app/compiled-templates/navTop.js
app/compiled-templates/navBottom.js
app/compiled-templates/modals.js
app/compiled-templates/he.js
app/compiled-templates/bwWordlistLoading.js
app/compiled-templates/bwWordlistInput.js
app/compiled-templates/bwWordlistConfirm.js
app/compiled-templates/bwProcessing.js
app/compiled-templates/bwFileInputLoading.js
app/compiled-templates/bwFileInputConfirm.js
app/compiled-templates/bwExportLoading.js
app/compiled-templates/bwExport.js
app/compiled-templates/bwEntry.js
app/compiled-templates/bwaProcess.js
app/compiled-templates/bwaFileInputLoading.js
app/compiled-templates/bwaFileinputconfirm.js
app/compiled-templates/bwaEntry.js
app/compiled-templates/bwaAnalyser.js
