release_builds/
node_modules/
dist/

coverage/

settings.json
reload.json
.DS_Store
app/compiled-templates/
compiled_templates/
test/e2e/artifacts/
app/data/history.sqlite
.husky/_/husky.sh
app/compiled-templates/toEntry.js
app/compiled-templates/singlewhois.js
app/compiled-templates/opEntry.js
app/compiled-templates/navTop.js
app/compiled-templates/navBottom.js
app/compiled-templates/modals.js
app/compiled-templates/he.js
app/compiled-templates/bulkwhoisWordlistLoading.js
app/compiled-templates/bulkwhoisWordlistInput.js
app/compiled-templates/bulkwhoisWordlistConfirm.js
app/compiled-templates/bulkwhoisProcessing.js
app/compiled-templates/bulkwhoisFileInputLoading.js
app/compiled-templates/bulkwhoisFileInputConfirm.js
app/compiled-templates/bulkwhoisExportLoading.js
app/compiled-templates/bulkwhoisExport.js
app/compiled-templates/bulkwhoisEntry.js
app/compiled-templates/bwaProcess.js
app/compiled-templates/bwaFileInputLoading.js
app/compiled-templates/bwaFileinputconfirm.js
app/compiled-templates/bwaEntry.js
app/compiled-templates/bwaAnalyser.js
