release_builds/
node_modules/
dist/
coverage/
settings.json
reload.json
.DS_Store
compiled_templates/
test/e2e/artifacts/
app/data/history.sqlite
.husky/_/husky.sh
app/vendor/*
!app/vendor/debug.js
!app/vendor/debug.d.ts
!app/vendor/debug/
!app/vendor/debug/browser.cjs
!app/vendor/debug/common.cjs
!app/vendor/jquery.js
app/compiled-templates/