node_modules/
dist/
release_builds/
package-lock.json
app/html/templates/mainPanel.hbs
app/compiled-templates/
app/data/
coverage/
app/css/
app/html/templates/
app/ts/common/tools.ts
app/ts/main/bulkwhois/process.ts
app/ts/main/to.ts
app/ts/renderer/bwa/fileinput.ts
app/ts/renderer/darkmode.ts
app/ts/renderer/navigation.ts
app/ts/renderer/singlewhois.ts
app/ts/common/logger.ts
app/vendor/datatables.js
app/vendor/handlebars.runtime.js
app/vendor/change-case.js
app/vendor/jquery.js
app/vendor/html-entities/*.js
app/vendor/html-entities/index.d.ts
app/vendor/debug.js
package.json
app/vendor/fontawesome.js
