html {
  overflow-y: auto
}

/* Tab contents */
.tab-content {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
}

.tab-content.current {
  display: inherit;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.top {
  vertical-align: top;
}

.no-margin-left {
  margin-left: 0;
}

.padding-10 {
  padding: 0 10px;
}

.logo {
  display: inline;
  font-weight: 800;
  font-family: 'Cousine', monospace;
  font-size: 30px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
}

.logo-text {
  color: #4a4a4a;
}

.icon-invert {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.box-shadow-5 {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.125);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.125);
}

.is-force-hidden {
  display: none;
}

@media screen and (min-width: 1088px) {
  .navbar-burger {
    display: block;
  }
  .navbar-item, .navbar-brand {
    align-items: center;
    display: flex;
  }
}
