html,
body {
  overflow-y: hidden;
  height: 100vh;
}

body.has-navbar-fixed-top,
html.has-navbar-fixed-top {
  padding-top: 0 !important;
}

#app {
  height: 100vh;
}

.hero-body {
  overflow-y: auto;
}
