<h4 class='title is-4 has-text-centered'>Wordlist import</h4>
<hr />
<div class='columns'>
  <div class='column is-8 is-offset-2'>
    <div class='field'>
      <textarea
        id='bwWordlistTextareaDomains'
        class='textarea'
        placeholder='1 domain per line without tld'
        rows='10'
      ></textarea>
    </div>
  </div>
</div>
<a id='bwWordlistinputButtonConfirm' class='button is-medium is-success'>
  <span class='icon is-small'>
    <i class='fas fa-check'></i>
  </span>
  <span>Confirm</span>
</a>
<a id='bwWordlistinputButtonCancel' class='button is-medium is-danger'>
  <span class='icon is-small'>
    <i class='fas fa-undo'></i>
  </span>
  <span>Cancel</span>
</a>
