<h4 class='title is-4 has-text-centered'>File Import</h4>
<hr />
<table id='bwFileTable' class='table is-striped is-hoverable is-fullwidth'>
  <tr>
    <th>Filename:</th>
    <td id='bwFileTdName' class='is-expanded'>n/a</td>
  </tr>
  <tr>
    <th>Last modified:</th>
    <td id='bwFileTdLastmodified' class='is-expanded'>n/a</td>
  </tr>
  <tr>
    <th>Last accessed:</th>
    <td id='bwFileTdLastaccess'>n/a</td>
  </tr>
  <tr>
    <th>File Size:<br /><span class='content is-small'>(File size + Lines/Domains)</span></th>
    <td id='bwFileTdFilesize' class='is-expanded' style='vertical-align: middle'>n/a</td>
  </tr>
  <tr>
    <th>
      Min.<span id='bwFileSpanTimebetweenminmax'>/Max</span>
      Estimated Time per TLD:<br /><span class='content is-small'>(<span
          id='bwFileSpanTimebetweenmin'
        ></span><span id='bwFileSpanTimebetweenmax'></span>
        per domain)</span>
    </th>
    <td id='bwFileTdEstimate' class='is-expanded' style='vertical-align: middle'>n/a</td>
  </tr>
  <tr>
    <th>File preview</th>
    <td id='bwFileTdFilepreview' class='is-expanded'>n/a</td>
  </tr>
  <tr>
    <th>
      Search TLD(s)<br /><span class='content is-small'>(multiple TLDs separated by comma)</span>
    </th>
    <td style='vertical-align: middle'>
      <input id='bwFileInputTlds' class='input' type='text' placeholder='com,net,org,io' />
    </td>
  </tr>
</table>
<a id='bwFileButtonConfirm' class='button is-medium is-success'>
  <span class='icon is-small'>
    <i class='fas fa-check'></i>
  </span>
  <span>Start</span>
</a>
<a id='bwFileButtonCancel' class='button is-medium is-danger'>
  <span class='icon is-small'>
    <i class='fas fa-undo'></i>
  </span>
  <span>Cancel</span>
</a>
