<!-- Input selection -->
<div class='columns'>
  <div class='column'>
    <a id='bwaEntryButtonOpen' class='button is-large box-shadow-5'>
      <span class='icon is-large'>
        <i class='fas fa-file-upload'></i>
      </span>
      <span>Open results (.csv)</span>
    </a>
  </div>
</div>
