<h4 class='title is-4 has-text-centered'>File Import</h4>
<hr />
<table id='bwaFileTable' class='table is-striped is-hoverable is-fullwidth'>
  <tr>
    <th>Filename:</th>
    <td id='bwaFileTdFilename' class='is-expanded'>n/a</td>
  </tr>
  <tr>
    <th>Last modified:</th>
    <td id='bwaFileTdLastmodified' class='is-expanded'>n/a</td>
  </tr>
  <tr>
    <th>Last accessed:</th>
    <td id='bwaFileTdLastaccessed'>n/a</td>
  </tr>
  <tr>
    <th>File Size:<br /><span class='content is-small'>(File size + records)</span></th>
    <td id='bwaFileTdFilesize' class='is-expanded' style='vertical-align: middle'>n/a</td>
  </tr>
  <tr>
    <th>File preview</th>
    <td id='bwaFileTdFilepreview' class='is-expanded'>n/a</td>
  </tr>
  <tr>
    <th>Errors</th>
    <td class='is-expanded'>
      <textarea id='bwaFileTextareaErrors' class='textarea' rows='3' disabled>No errors</textarea>
    </td>
  </tr>
</table>
<a id='bwaFileinputconfirmButtonStart' class='button is-medium is-success'>
  <span class='icon is-small'>
    <i class='fas fa-check'></i>
  </span>
  <span>Start</span>
</a>
<a id='bwaFileinputconfirmButtonCancel' class='button is-medium is-danger'>
  <span class='icon is-small'>
    <i class='fas fa-undo'></i>
  </span>
  <span>Cancel</span>
</a>
