<section class='section has-text-left'>
  <div class='container'>
    <h1 class='title'>About</h1>
    <h2 class='subtitle'>
      A simple container to divide your page into
      <strong>sections</strong>, like the one you're currently reading
    </h2>
    <p>
      This tool allows you to do whois lookups fast, simple and directly to tld whois databases
      without any intermediaries. Whether you're looking for a particular domain or multiple domains
      and tlds we got you covered. Identify possible expiring domains and register them at your
      preferred registrar.
    </p>
  </div>
  <div class='container'>
    <h1 class='title'>Mini FAQs</h1>
    <h2 class='subtitle'>This segment contains some Q&A about whoisdigger usage</h2>
    <p><strong>Q: What is a domain name?</strong></p>
    <p>
      A: A domain name is an unique identifier that can combine both numbers and letters (aka
      alphanumeric) that is usually used to identify a specific website, server, computer or device
      on the Internet.
    </p>
    <p><strong>Q: Can i lookup for IP addresses?</strong></p>
    <p>
      Yes IP addresses can also be looked up. This tool wasn't designed with IP lookup in mind but
      you can get a valid response.
    </p>
    <p><strong>Q: What are TLDs, ccTLDs and gTLDs?</strong></p>
    <p>
      TLDs are the Top Level Domain and stand as a suffix of a domain name like in example.com, the
      TLD is .com. ccTLDs are a subcategory of TLDs that belong to a specific country, cc from
      contry code, .us is United States ccTLD for example. gTLDs are generic TLDs comprising some of
      the most common TLDs in general and widespread use like .com, .org or .net.
    </p>
    <p><strong>Q: What is simple whois?</strong></p>
    <p>
      Simple whois is your preferred searching method when doing fast lookups for domain names to
      availability, expiration and registry information.
    </p>
    <p><strong>Q: What is bulk whois?</strong></p>
    <p>
      Bulk whois method uses wordlists as its primary source of input, used to run good and
      preferrably concise wordlists of strategically placed words in order to find available or
      expiring domain names in crowded TLD spaces.
    </p>
    <p><strong>Q: What is bulk analyzer?</strong></p>
    <p>The bulk analyzer is used to analyze and interpret bulk whois results in a simple manner.</p>
    <p><strong>Q: What is the monitor?</strong></p>
    <p>
      The monitor tab allows you to bulk monitor your domain choices whether is some expriring
      domain or to keep an eye on prospecting domains
    </p>
    <p><strong>Q: Can i load custom configurations?</strong></p>
    <p>Yes custom configurations can be loaded via appsettings.ts file</p>
  </div>
</section>
