<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'; img-src 'self' data:;"
    />

    <title>whoisdigger</title>


    <link href="../css/cousine.css" rel="stylesheet" />
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/tables.css" rel="stylesheet" />
    <!--<link href="../css/fontawesome/all.min.css" rel="stylesheet">-->
    <script type="module" src="./startup.js"></script>
  </head>

  <body>
    <div id="app">
      <section class="hero is-fullheight">
        <div class="hero-head is-fixed-top">
          <div id="navTop">
            {{> navTop}}
          </div>
          <div id="navBottom">
            {{> navBottom}}
          </div>
        </div>
        <div id="contents-container" class="hero-body has-text-centered">
          <div class="container">
            <div id="singlewhoisMainContainer" class="container tab-content level-item current">
              {{> singlewhois}}
            </div>
            <div id="bwMainContainer" class="tab-content">
              <!-- Bulk Whois panel -->
              <div id="bwEntry" class="container is-clearfix">
                {{> bwEntry}}
              </div>
              <div id="bwFileinputloading" class="container is-clearfix is-hidden">
                {{> bwFileInputLoading}}
              </div>
              <div id="bwFileinputconfirm" class="container is-clearfix is-hidden">
                {{> bwFileInputConfirm}}
              </div>
              <div id="bwWordlistinput" class="container is-clearfix is-hidden">
                {{> bwWordlistInput}}
              </div>
              <div id="bwWordlistloading" class="container is-clearfix is-hidden">
                {{> bwWordlistLoading}}
              </div>
              <div id="bwWordlistconfirm" class="container is-clearfix is-hidden">
                {{> bwWordlistConfirm}}
              </div>
              <div id="bwProcessing" class="container is-clearfix is-hidden">
                {{> bwProcessing}}
              </div>
              <div id="bwExport" class="container is-clearfix is-hidden">
                {{> bwExport}}
              </div>
              <div id="bwExportloading" class="container is-clearfix is-hidden">
                {{> bwExportLoading}}
              </div>
            </div>
            <div id="bwaMainContainer" class="tab-content">
              <div id="bwaEntry" class="container is-clearfix">
                {{> bwaEntry}}
              </div>
              <div id="bwaFileinputloading" class="container is-clearfix is-hidden">
                {{> bwaFileInputLoading}}
              </div>
              <div id="bwaFileinputconfirm" class="container is-clearfix is-hidden">
                {{> bwaFileinputconfirm}}
              </div>
              <div id="bwaProcess" class="container is-clearfix is-hidden">
                {{> bwaProcess}}
              </div>
              <div id="bwaAnalyser" class="container is-clearfix is-hidden">
                {{> bwaAnalyser}}
              </div>
            </div>
            <div id="toMainContainer" class="tab-content">
              <div id="toEntry" class="container is-clearfix">
                {{> toEntry}}
              </div>
            </div>
            <div id="opMainContainer" class="tab-content">
              <div id="opEntry" class="container is-clearfix">
                {{> opEntry}}
              </div>
            </div>
            <div id="heMainContainer" class="tab-content">
              {{> he}}
            </div>
          </div>
        </div>
      </section>
    </div>
    {{> modals}}
  </body>
  <footer>
    <!-- Scripts are loaded via startup.js to comply with CSP -->
    <!--<script defer src="../js/renderer/singlewhois.js"></script>-->
  </footer>
</html>
