<!-- Close whoisdigger, modal -->
<div id='appModalExit' class='modal'>
  <div class='modal-background'></div>
  <div class='modal-card'>
    <header class='modal-card-head'>
      <p class='modal-card-title'>Close whoisdigger?</p>
      <button class='delete' aria-label='close'></button>
    </header>
    <section class='modal-card-body'>
      Are you sure you want to close whoisdigger?
      <br />
      Any unsaved changes or results will be lost.
    </section>
    <footer class='modal-card-foot uk-text-center'>
      <button id='appModalExitButtonYes' class='button is-danger'>Yes</button>
      <button id='appModalExitButtonNo' class='button'>No</button>
    </footer>
  </div>
</div>

<!-- Restore defaults confirmation -->
<div id='restoreDefaultsModal' class='modal'>
  <div class='modal-background'></div>
  <div class='modal-card'>
    <header class='modal-card-head'>
      <p class='modal-card-title'>Restore defaults?</p>
      <button class='delete' aria-label='close'></button>
    </header>
    <section class='modal-card-body'>Are you sure you want to restore default settings?</section>
    <footer class='modal-card-foot uk-text-center'>
      <button id='restoreDefaultsYes' class='button is-danger'>Yes</button>
      <button id='restoreDefaultsNo' class='button'>No</button>
    </footer>
  </div>
</div>

<!-- Delete configuration confirmation -->
<div id='deleteConfigModal' class='modal'>
  <div class='modal-background'></div>
  <div class='modal-card'>
    <header class='modal-card-head'>
      <p class='modal-card-title'>Delete configuration?</p>
      <button class='delete' aria-label='close'></button>
    </header>
    <section class='modal-card-body'>This will remove the saved configuration file.</section>
    <footer class='modal-card-foot uk-text-center'>
      <button id='deleteConfigYes' class='button is-danger'>Yes</button>
      <button id='deleteConfigNo' class='button'>No</button>
    </footer>
  </div>
</div>
