<!-- Close whoisdigger, modal -->
<div id="appModalExit" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Close whoisdigger?</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      Are you sure you want to close whoisdigger?
      <br />
      Any unsaved changes or results will be lost.
    </section>
    <footer class="modal-card-foot uk-text-center">
      <button id="appModalExitButtonYes" class="button is-danger">Yes</button>
      <button id="appModalExitButtonNo" class="button">No</button>
    </footer>
  </div>
</div>
