<h4 class="title is-4 has-text-centered">Options</h4>
<h5>
  Here you're able to set any of your whoisdigger preferred settings, such as whois timing, window
  settings, file settings, etc.<br />
  For basic usage changes to these settings are not recommended as they can result in crashing,
  malfunction or unexpected behavior as direct result.
</h5>
<hr />
<p id="settings-not-loaded" class="has-text-warning is-hidden">
  Settings not loaded in this session.
</p>
<p id="custom-settings-status" class="has-text-info"></p>
<div class="field mb-2">
  <p class="control has-icons-left">
    <input
      id="opSearch"
      class="input is-small"
      type="text"
      placeholder="Search options"
    />
    <span class="icon is-small is-left"><i class="fas fa-search"></i></span>
  </p>
</div>
<p id="opSearchNoResults" class="has-text-centered is-hidden">
  No configuration found.
</p>
<div class="mb-2 has-text-right">
  <button id="restoreDefaults" class="button is-small is-danger">Restore defaults</button>
  <button id="reloadSettings" class="button is-small is-info">Reload</button>
  <button id="saveConfig" class="button is-small is-success">Save</button>
  <button id="openDataFolder" class="button is-small is-info">Open data folder</button>
  <button id="deleteConfig" class="button is-small is-danger">Delete config</button>
</div>
<table id="opTable" class="table is-striped is-hoverable is-fullwidth has-text-left"></table>
